* {
  margin: 0px;
  font-family: Tahoma;
}

#headshot {
  width: 220px;
}

header {
  background-color: lightblue;
  height: 90vh;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid rgb(5, 51, 79);
}

#site-body {
  display: flex;
  background: rgb(2, 30, 48);
}

#eric-name {
  font-size: 65px;
  font-weight: bold;
  color: lightblue;
  -webkit-text-stroke: 3px rgb(5, 51, 79);
  padding: 100px;
}

#site-body h2 {
  margin-top: 30px;
}

#outlet {
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
  border: solid rgb(5, 51, 79);
  background-color: lightblue;
  color: rgb(5, 51, 79);
}

header a {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  color: white;
 
}

header a:hover {
  color: rgb(5, 51, 79);
} 

#gh-pic:hover, #li-pic:hover {
  border: 1px solid rgb(5, 51, 79);
}

footer {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 10vh;
  background-color: lightblue;
  border-right: solid rgb(5, 51, 79);
}

footer img {
  margin: 20px;
  width: 50px;
  height: 50px;
}


